<%- include("navbar.ejs") %>
  
<!-- Header Banner -->
<div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg" style="background-attachment: fixed;">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center caption mt-90">
              <h1>More Information</h1>
              <h5><a href="/" style="text-decoration: none;color: white;">Home</a><b style="color:#d1ae6f;">/</b>More Information</h5>
          </div>
      </div>
  </div>
</div>

<!-- News 2 -->
<section class="news2 section-padding">
  <div class="container">
      <div class="row">
          <!-- <div class="col-md-8"> -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="item">
                          <div class="post-img">
                              <a href="post.html"> <img src="img/restaurant/2.jpg" alt=""> </a>
                              <div class="date">
                                  <a href="post.html"> <span>Dec</span> <i>02</i> </a>
                              </div>
                          </div>
                          <div class="post-cont"> 
                             <a href="news.html"><span class="tag">1. Restaurant</span></a>
                              <h5><a href="post.html">Historic restaurant renovated</a></h5>
                              <p>Hotel potenti fringilla pretium ipsum non blandit. Vivamus eget nisi non mi iaculis iaculis imperie quiseros sevin elentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis enesta mauris suscipit mis nec est aliquam, a tincidunt eros iacu suscipit risus eu ullamcorper fauibu.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="item">
                          <div class="post-img">
                              <a href="post.html"> <img src="img/spa/3.jpg" alt=""> </a>
                              <div class="date">
                                  <a href="post.html"> <span>Dec</span> <i>04</i> </a>
                              </div>
                          </div>
                          <div class="post-cont"> <a href="news.html"><span class="tag">Spa Center</span></a>
                              <h5><a href="post.html">Benefits of Spa Treatments</a></h5>
                              <p>Hotel potenti fringilla pretium ipsum non blandit. Vivamus eget nisi non mi iaculis iaculis imperie quiseros sevin elentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis enesta mauris suscipit mis nec est aliquam, a tincidunt eros iacu suscipit risus eu ullamcorper fauibu.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="item">
                        <div class="post-img">
                            <a href="post.html"> <img src="img/spa/3.jpg" alt=""> </a>
                            <div class="date">
                                <a href="post.html"> <span>Dec</span> <i>04</i> </a>
                            </div>
                        </div>
                        <div class="post-cont"> <a href="news.html"><span class="tag">Spa Center</span></a>
                            <h5><a href="post.html">Benefits of Spa Treatments</a></h5>
                            <p>Hotel potenti fringilla pretium ipsum non blandit. Vivamus eget nisi non mi iaculis iaculis imperie quiseros sevin elentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis enesta mauris suscipit mis nec est aliquam, a tincidunt eros iacu suscipit risus eu ullamcorper fauibu.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="item">
                      <div class="post-img">
                          <a href="post.html"> <img src="img/spa/3.jpg" alt=""> </a>
                          <div class="date">
                              <a href="post.html"> <span>Dec</span> <i>04</i> </a>
                          </div>
                      </div>
                      <div class="post-cont"> <a href="news.html"><span class="tag">Spa Center</span></a>
                          <h5><a href="post.html">Benefits of Spa Treatments</a></h5>
                          <p>Hotel potenti fringilla pretium ipsum non blandit. Vivamus eget nisi non mi iaculis iaculis imperie quiseros sevin elentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis enesta mauris suscipit mis nec est aliquam, a tincidunt eros iacu suscipit risus eu ullamcorper fauibu.</p>
                      </div>
                  </div>
              </div>
                 
            
              </div>
          </div>
          
      </div>
  </div>
</section>
<%- include("footer.ejs") %>